
@font-face {
    font-family: 'Gotham-Bold';
    src: local('Gotham-Bold'), url('../../fonts/GothamBold.ttf');
}
@font-face {
    font-family: 'Gotham-Light';
    src: local('Gotham-Light'), url('../../fonts/GothamLight.ttf');
}